@model  OnboardingModel
@{
    ViewData["Title"] = "Multitenant - onboarding";
}

<h2>Status</h2>
<table>
    <tr><td>code</td><td>@Model.code</td></tr>
    <tr><td>error</td><td>@Model.error</td></tr>
    <tr><td>error_description</td><td>@Model.error_description</td></tr>
    <tr><td>resource</td><td>@Model.resource</td></tr>
    <tr><td>state</td><td>@Model.state</td></tr>
</table>
